body{
    background-color: #171d22;
    #logo{
        margin-right: 50px;
    }     
    h1{
        color: aliceblue;
        font-size: 45px;
        font-family: 'Roboto Mono', monospace;
        margin-right: 300px;}
    .titulos{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;}}